/*
Bootstrap variables
==================================================
Contains all overrides of bootstrap default variables.

https://getbootstrap.com/docs/4.3/getting-started/theming/#variable-defaults
*/

$enable-responsive-font-sizes: true !default;
$modal-backdrop-bg: rgba(#000, 0.5) !default;


// Bootstrap

// Color system
$sw-color-brand-primary: #008490 !default;
$sw-color-brand-secondary: #526e7f !default;
$sw-color-price: #4a545b !default;

$sw-color-success: #3cc261 !default;
$sw-color-info: #26b6cf !default;
$sw-color-warning: #ffbd5d !default;
$sw-color-danger: #e52427 !default;

$sw-background-color: #fff !default;
$sw-text-color: #4a545b !default;
$sw-headline-color: #4a545b !default;
$sw-border-color: #bcc1c7 !default;

$sw-color-buy-button: #008490 !default;
$sw-color-buy-button-text: #fff !default;

//fonts
$sw-font-family-base: 'Inter', sans-serif !default;
$sw-font-family-headline: 'Inter', sans-serif !default;

//logos
$sw-logo-default: url('logo.png') !default;
$sw-logo-default-sm: url('logo.png') !default;
$sw-logo-default-md: url('logo.png') !default;
$sw-logo-default-lg: url('logo.png') !default;
$sw-logo-default-xl: url('logo.png') !default;

$sw-logo-share: url('logo-share.png') !default;
$sw-logo-favicon: url('logo-favicon.png') !default;
$sw-logo-app-icon: url('logo-app-icon.png') !default;

/*
Bootstrap variables
==================================================
Contains all overrides of bootstrap default variables.

https://getbootstrap.com/docs/4.3/getting-started/theming/#variable-defaults
*/

// Color system
$gray-100: #f9f9f9 !default;
$gray-200: #eee !default;
$gray-300: #bcc1c7 !default;
$gray-600: #798490 !default;
$gray-800: #4a545b !default;

$primary: $sw-color-brand-primary !default;
$secondary: $sw-color-brand-secondary !default;

$success: $sw-color-success !default;
$info: $sw-color-info !default;
$warning: $sw-color-warning !default;
$danger: $sw-color-danger !default;

$light: $gray-100 !default;
$dark: $gray-800 !default;

$headings-color: $sw-headline-color !default;

// Grid
$grid-gutter-width: 40px !default;

// Body
$body-bg: $sw-background-color !default;
$body-color: $sw-text-color !default;

// Components
$border-color: $sw-border-color !default;

$border-radius: 3px !default;
$border-radius-lg: 3px !default;
$border-radius-sm: 3px !default;

// Typography
$font-family-base: $sw-font-family-base !default;

$font-size-base: 0.875rem !default;
$font-size-lg: 1rem !default;
$font-size-sm: 0.75rem !default;
$font-weight-normal: 400 !default;

$h1-font-size: 36px !default;
$h2-font-size: 28px !default;
$h3-font-size: 24px !default;
$h4-font-size: 20px !default;
$h5-font-size: 16px !default;
$h6-font-size: 14px !default;

$headings-font-weight: 700 !default;
$headings-font-family: $sw-font-family-headline !default;

// Buttons + Forms
$input-btn-padding-y: 0.5625rem !default;
$input-btn-padding-x: 0.5625rem !default;

$input-placeholder-color: #c3c3c3 !default;

// Buttons
$btn-padding-y: 2px !default;
$btn-padding-x: 12px !default;
$btn-line-height: 34px !default;

$btn-padding-y-sm: 2px !default;
$btn-padding-x-sm: 12px !default;
$btn-font-size-sm: 14px !default;
$btn-line-height-sm: 30px !default;

$btn-padding-y-lg: 2px !default;
$btn-padding-x-lg: 12px !default;
$btn-font-size-lg: 16px !default;
$btn-line-height-lg: 38px !default;

// Forms
$enable-validation-icons: false !default;
$input-color: $sw-text-color !default;
$input-border-color: $sw-border-color !default;
$input-focus-border-color: $sw-color-brand-primary !default;
$custom-select-indicator-color: $input-color !default;
$custom-control-indicator-active-bg: $sw-color-brand-primary !default;

// Pagination
$pagination-border-color: $sw-border-color !default;
$pagination-hover-border-color: $sw-border-color !default;
$pagination-focus-border-color: $sw-border-color !default;

// Dropdown
$dropdown-border-color: $sw-border-color !default;

// Badges
$badge-font-size: 12px !default;

// Spinners
$spinner-width: 26px !default;
$spinner-border-width: 2px !default;

// Modals
$modal-header-padding-y: 10px !default;
$modal-header-padding-x: 10px !default;

// Breadcrumb
$breadcrumb-bg: transparent !default;
$breadcrumb-border-radius: 0 !default;

// Cards
$card-border-color: transparent !default;
$card-bg: transparent !default;

// Tables
$table-accent-bg: #f9f9f9 !default;

// Switch
$custom-switch-indicator-border-radius: 0.5rem;

/*
Custom variables
==================================================
Contains custom non bootstrap variables.
*/

$buy-btn-bg: $sw-color-buy-button !default;
$buy-btn-color: $sw-color-buy-button-text !default;

$disabled-btn-bg: #eee !default;
$disabled-btn-border-color: #eee !default;

$cms-block-text-hero-hr-color: #e9edf0 !default;
$cms-element-text-quotes-color: #9aa7be !default;
$cms-element-product-listing-gutter-width: 30px !default;

$price-color: $sw-color-price !default;

$font-weight-semibold: 600 !default;


@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


/*
Custom variables
==================================================
Contains custom non bootstrap variables.
*/

$search-suggest-zindex: 1000 !default;
$offcanvas-zindex: 1050 !default;
$cookie-msg-zindex: 1100 !default;
$scroll-up-zindex: 700 !default;
$menu-flyout-zindex: 750 !default;
$zoom-modal-action-zindex: 1051 !default;
$magnifier-overlay-zindex: 1100 !default;

$icon-base-size: 22px !default;
$icon-base-color: #878787 !default;
$icon-review-color: #fedc70 !default;

$progress-bar-review: $icon-review-color !default;

$element-backdrop-bg: rgba(#fff, 0.5) !default;

$spacer-xs: ( $spacer * 0.25 ) !default;
$spacer-sm: ( $spacer * 0.5 ) !default;
$spacer-md: $spacer !default;
$spacer-lg: ( $spacer * 1.5 ) !default;
$spacer-xl: ( $spacer * 3 ) !default;

$asset-path: '/bundles/storefront/assets' !default;

